
@font-face {
  font-family: 'Roboto';
  src: url(/assets/zaymplus/1/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(/assets/zaymplus/1/fonts/Roboto-Regular.ttf);
}
